@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Roboto:wght@100;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    color: var(--sec);
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--prim);
}

button {
    margin: 0.25em;
    padding: 0.25em;
    background-color: var(--prim);
}

video {
    width: 100vw;
    height: 100vh;
    animation-duration: 8s;
    animation-fill-mode: forwards;
    opacity: 0;
}

:root {
    --prim: #000000;
    --prim-shadow: #101010;
    --prim-shadow-sec: #202020;
    --sec: #f0f0f0;
    --good-green: #b0f0d0;
    --good-green-shadow: #80c0a0;
    --bad-red-shadow: #aa3723;
    --bad-red: #f04d30;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.nowrap {
    flex-wrap: nowrap;
}

.slid {
    justify-content: flex-start;
    align-items: center;
}

.centered {
    justify-content: center;
    align-items: center;
}

.spaced {
    justify-content: space-evenly;
    align-items: center;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

@keyframes fade_up {
    0% {
        transform: translateY(2vh);
        opacity: 0;
    }

    25% {
        transform: translateY(0);
        opacity: 1;
    }

    75% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(2vh);
        opacity: 0;
    }
}

@keyframes fade_down {
    0% {
        transform: translateY(-2vh);
        opacity: 0;
    }

    20% {
        transform: translateY(0);
        opacity: 1;
    }

    80% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(-2vh);
        opacity: 0;
    }
}

@keyframes button_up {
    0% {
        border: 1px solid var(--prim);
        transform: translateY(0.125em);
        opacity: 0;
        text-shadow: 0 0 10px var(--prim);
        box-shadow: 0 0 0 0 var(--prim);
    }

    50% {
        border: 1px solid var(--sec);
        transform: translateY(0.125em);
        opacity: 1;
        text-shadow: 0 0 10px var(--sec);
        box-shadow: 0 0 0 0 var(--sec);
    }

    100% {

    }
}

@keyframes button_down {
    0% {

    }

    50% {
        border: 1px solid var(--sec);
        transform: translateY(0.125em);
        opacity: 1;
        text-shadow: 0 0 10px var(--sec);
        box-shadow: 0 0 0 0 var(--sec);
    }

    100% {
        border: 1px solid var(--prim);
        transform: translateY(0.125em);
        opacity: 0;
        text-shadow: 0 0 10px var(--prim);
        box-shadow: 0 0 0 0 var(--prim);
    }
}

@keyframes video_in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fade {
    will-change: opacity, transform;
    opacity: 0;
    animation-delay: calc(var(--delay) * 1s);
}

.fade.up {
    animation-name: fade_up;
    animation-duration: 4s;
}

.fade.down {
    animation-name: fade_down;
    animation-duration: 5s;
}

.button.up {
    animation-name: button_up;
    animation-duration: 4s;
}

.button.down {
    animation-name: button_down;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

.fancy {
    font-family: 'Cinzel', serif;
    font-weight: 400;
    text-shadow: 0 0 10px var(--sec);
}

button.fancy {
    will-change: text-shadow, box-shadow, transform, border, opacity;
    border-radius: 0.5em;
    border: 1px solid var(--sec);
    box-shadow: 0 0.125em 0 0 var(--sec), 0 0.125em 0.25em 0 var(--sec);
    transition-duration: 0.2s;
}

button.fancy:hover {
    border-radius: 0.5em;
    border: 1px solid var(--sec);
    transform: translateY(0.025em);
    box-shadow: 0 0.1em 0 0 var(--sec), 0 0.1em 0.2em 0 var(--sec);
}

button.fancy:active {
    border-radius: 0.5em;
    border: 1px solid var(--sec);
    transform: translateY(0.125em);
    box-shadow: 0 0 0 0 var(--sec), 0 0 0 0 var(--sec);
}

.large {
    font-size: 8vw;
}

.medium {
    font-size: 2vw;
}

.small {
    font-size: 1vw;
}

.card {
    position: absolute;
}